#jinja2: lstrip_blocks: "True"
[Unit]
Description=calibre-web ({{ calibre-web_identifier }})
{% for service in calibre-web_systemd_required_services_list %}
Requires={{ service }}
After={{ service }}
{% endfor %}
DefaultDependencies=no

[Service]
Type=simple
Environment="HOME={{ devture_systemd_docker_base_systemd_unit_home_path }}"
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop --time={{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ calibre-web_identifier }} 2>/dev/null || true'
ExecStartPre=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ calibre-web_identifier }} 2>/dev/null || true'

{# We mount a tmpfs at /tmp to allow calibre-web migrations to run. #}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} create \
			--rm \
			--name={{ calibre-web_identifier }} \
			--log-driver=none \
			--user={{ calibre-web_uid }}:{{ calibre-web_gid }} \
			--cap-drop=ALL \
			--read-only \
			--network={{ calibre-web_container_network }} \
			{% if calibre-web_container_http_bind_port %}
			-p {{ calibre-web_container_http_bind_port }}:8083 \
			{% endif %}
			--env-file={{ calibre-web_base_path }}/env \
			--label-file={{ calibre-web_base_path }}/labels \
			--health-interval={{ calibre-web_container_health_interval }} \
			--tmpfs=/tmp:rw,noexec,nosuid,size=100m \
			--mount type=bind,src={{ calibre-web_data_path }},dst=/data \
			{% for volume in calibre-web_container_additional_volumes %}
			--mount type={{ volume.type | default('bind' if '/' in volume.src else 'volume') }},src={{ volume.src }},dst={{ volume.dst }}{{ (',' + volume.options) if volume.options | default('') else '' }} \
			{% endfor %}
			{% for arg in calibre-web_container_extra_arguments %}
			{{ arg }} \
			{% endfor %}
			{{ calibre-web_container_image }}

{% for network in calibre-web_container_additional_networks %}
ExecStartPre={{ devture_systemd_docker_base_host_command_docker }} network connect {{ network }} {{ calibre-web_identifier }}
{% endfor %}

ExecStart={{ devture_systemd_docker_base_host_command_docker }} start --attach {{ calibre-web_identifier }}

ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} stop --time={{ devture_systemd_docker_base_container_stop_grace_time_seconds }} {{ calibre-web_identifier }} 2>/dev/null || true'
ExecStop=-{{ devture_systemd_docker_base_host_command_sh }} -c '{{ devture_systemd_docker_base_host_command_docker }} rm {{ calibre-web_identifier }} 2>/dev/null || true'

Restart=always
RestartSec=30
SyslogIdentifier={{ calibre-web_identifier }}

[Install]
WantedBy=multi-user.target
