{#
SPDX-FileCopyrightText: 2023 Slavi Pantaleev
SPDX-FileCopyrightText: 2024 noah

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% if calibre_web_container_labels_traefik_enabled %}
traefik.enable=true

{% if calibre_web_container_labels_traefik_docker_network %}
traefik.docker.network={{ calibre_web_container_labels_traefik_docker_network }}
{% endif %}

{% set middlewares = [] %}

{% if calibre_web_container_labels_traefik_compression_middleware_enabled %}
{% set middlewares = middlewares + [calibre_web_container_labels_traefik_compression_middleware_name] %}
{% endif %}

{% if calibre_web_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ calibre_web_identifier }}-slashless-redirect.redirectregex.regex=({{ calibre_web_container_labels_traefik_path_prefix | quote }})$
traefik.http.middlewares.{{ calibre_web_identifier }}-slashless-redirect.redirectregex.replacement=${1}/
{% set middlewares = middlewares + [calibre_web_identifier + '-slashless-redirect'] %}
{% endif %}

{#
	Intentionally not adding a stripPrefix middleware.
#}

{% if calibre_web_container_labels_traefik_additional_response_headers.keys() | length > 0 %}
{% for name, value in calibre_web_container_labels_traefik_additional_response_headers.items() %}
traefik.http.middlewares.{{ calibre_web_identifier }}-add-headers.headers.customresponseheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [calibre_web_identifier + '-add-headers'] %}
{% endif %}

traefik.http.routers.{{ calibre_web_identifier }}.rule={{ calibre_web_container_labels_traefik_rule }}
{% if calibre_web_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.{{ calibre_web_identifier }}.priority={{ calibre_web_container_labels_traefik_priority }}
{% endif %}
traefik.http.routers.{{ calibre_web_identifier }}.service={{ calibre_web_identifier }}
{% if middlewares | length > 0 %}
traefik.http.routers.{{ calibre_web_identifier }}.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ calibre_web_identifier }}.entrypoints={{ calibre_web_container_labels_traefik_entrypoints }}
traefik.http.routers.{{ calibre_web_identifier }}.tls={{ calibre_web_container_labels_traefik_tls | to_json }}
{% if calibre_web_container_labels_traefik_tls %}
traefik.http.routers.{{ calibre_web_identifier }}.tls.certResolver={{ calibre_web_container_labels_traefik_tls_certResolver }}
{% endif %}

traefik.http.services.{{ calibre_web_identifier }}.loadbalancer.server.port=8083
{% endif %}

{{ calibre_web_container_labels_additional_labels }}
